.hero-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 56px;


}
.hero-title-text-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: max-content;
}



.hero-subheading{
    width: fit-content;
    font-family: 'SpidermanFont';
    font-weight: 400;
    font-size: 79px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: -2px 3px 0px #000000;
}
.hero-title{
    width: fit-content;
    font-family: 'SpidermanFont';
    font-size: 194px;
    font-weight: 400;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.12em;

    color: #FFFFFF;

    -webkit-text-stroke-width: .1rem;
    -webkit-text-stroke-color: #AE0000;
}

