.resume-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.resume-container{

}


.resume-title{
    font-size: 20px;

    padding: 10px;
    white-space: nowrap;

    text-align: center;

    color: #000000;
    box-shadow: -3px 3px 10px #000000;
    border: solid black 4px;

    background: #ff98f6;
    background-image: url('../../assets/halftone.png');
    background-position: 500px;
    background-size: 100%;
    background-blend-mode: overlay;
}

.resume-title:hover{
    background-color: #ffd8fc;
    color: rgb(30, 30, 30);
}

.download-button{
    height: 10px;
}

