.app {
    position: relative;
    min-height: 100vh;
}
.main-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.halftone-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: transparent;
}

.halftone-container{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.first-halftone{
    position: absolute;
    width: 50%;
    top: 100px;
    left:  0px;
    transform: rotate(21.94deg);
    
}

.second-halftone{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    filter: invert(15%);
    transform: rotate(21.94deg);
    
}