.app {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.main-content{
    position: relative;
    width: 100vw;
}


.halftone-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: transparent;
}

.halftone-container{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.first-halftone{
    position: absolute;
    width: 50%;
    top: 100px;
    left:  0px;
    transform: rotate(21.94deg);
    
}

.second-halftone{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    filter: invert(15%);
    transform: rotate(21.94deg);
    
}
.iframe-container{
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFCD1D;
    background-image: url('./assets/halftone.png');
    background-position: -100px;
    background-size: 20%;
    background-blend-mode: overlay;
}
.website-demo-iframe{
    width: 90%;
    height: 90%;
}